/* Define colors */
:root {
    --red: #FF3333;
    --dark-red: #CC0000;
    --blue: #3B4CCA;
    --yellow: #FFDE00;
    --brown: #B3A125;
  }
  
  * {
    box-sizing: border-box;
  }

  @font-face {
    font-family: 'Pokemon';
    src: url('./fonts/Pokemon-Hollow.ttf') format('truetype');
  }
  
  body {
    background-color: #F4F4F4;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .titleHeader {
    font-size: 48px;
    text-align: center;
    margin: 40px 0;
    color: var(--red);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Pokemon', Arial, sans-serif;
  }
  
  /* Search Bar Section Styles */
  .search-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
  }
  
  .search-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .search-button {
    margin-top: 10px;
    background-color: var(--red);
    color: #FFFFFF;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .search-button:hover {
    background-color: var(--dark-red);
  }
  
  /* Styles for Pokemon Card */
  .pokemon-card {
    margin: 50px auto;
    text-align: center;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  
  .pokemon-card h3 {
    margin-top: 0;
    font-size: 24px;
    font-family: Pokemon, sans-serif;
    color: var(--blue);
  }
  
  .pokemon-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .pokemon-card-content p {
    margin: 0;
    font-size: 14px;
    color: var(--brown);
  }
  
  .close-button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: var(--yellow);
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .close-button:hover {
    background-color: #FFB300;
  }
  
  
  /* Media Queries for Mobile View */
  @media (max-width: 480px) {
    .pokemon-card {
      width: 160px; /* Adjust the width for mobile devices */
    }
  
    .pokemon-image {
      width: 100px; /* Adjust the image width for mobile devices */
      height: 100px; /* Adjust the image height for mobile devices */
    }
  
    .search-input {
      width: 240px; /* Adjust the search input width for mobile devices */
    }
  }
  